body {
  background-image: url("/animal-pattern-30.png");
  background-size: 350px;
}

h2 {
  color: #3dae2b;
  font-size: 36px !important;
}

h3 {
  color: #3dae2b;
  font-size: 18px !important;
  margin-bottom: 12px !important;
}

hr {
  margin: 2rem 0 !important;
}

.react-datepicker-wrapper input {
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  padding: 6px;
}

.form-container {
  padding: 25px;
  background-color: #f7f8fa;
  margin-bottom: 1.5rem;
}

tr.totalHours {
  font-weight: bold;
  background-color: rgb(61,174,43, .25);
}

.clockLabel {
  font-style: italic;
  color: grey;
}